{% extends 'base.html.twig' %}

{% block body %}
<header class="jumbotron jumbotron-fluid text-center ">
  <div class="container ">
    <h1 class="display-3"> 10 stars</h1>
    <p class="lead">Le premier site français pour évaluer les films produits par le cinéma français</p>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="nav-link" href="{{path('index')}}">Accueil <span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>

<main class="container-fluid">
  {% block main %}{% endblock %}
</main>

<footer class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <p class="lead mb-2">Site réalisé (débuggé) par Isabelle Passeniers dans le cadre de la formation développeur Web 2019</p>
  </div>
</footer>
{% endblock %}
